@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reinicio total para que el fondo de tu Login mande */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Estilo para navegadores Webkit (Chrome, Safari, Edge) */
nav::-webkit-scrollbar {
    width: 4px;
}
nav::-webkit-scrollbar-track {
    background: transparent;
}
nav::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}